*.mp3
*.m3u
*.wav
*.ogg
/arts-blog
/blog
/bookings
/cloud
/enews
/getfolked
/hub
/images
/music_files
/musicstock
/newsletter
/office
/phpthumb
/programs/images
/soapbox
/survey
/tasmanianmusic/media
/wiki