@charset "UTF-8";
/* Base Style */

html { 
min-height: 100%; 
margin-bottom: 1px;
height:100%;
}

hr { 
width:100%;
height:1px;
color:#CCC;
}

img {
border:0px;
}

body { 
	background-color:#5C0A08; 
	background-image: url(amplified-back.jpg);
	background-position: center center;
	margin: 0;
	font-family: verdana;
	font-size: 12px;
	line-height:14px;
	height:100%;
}

.newstext {
	font-size: 11px;
	line-height:14px;
	max-height:400px;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-arrow-color: red; 
    width:100%;
}

.archivetext {
	font-size: 11px;
	line-height:14px;
	height:100%;
    width:100%;
	text-align:left;
	margin:0;
	padding:0;
}

.smalltext {
	font-size: 11px;
	line-height:14px;
	text-align:left;
}

.text {
	font-size: 12px;
	line-height:14px;
}

.text_red {
	font-size: 12px;
	line-height:14px;
	color:#F00;
}

.greyheader {
	font-size: 11px;
	line-height:12px;
	background:#242529;
	color:#FFF;
	font-weight:bolder;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	padding: 4px 0px;
	margin-top:10px;

}

.redheader {
	font-size: 11px;
	line-height:12px;
	background:#F00;
	color:#FFF;
	font-weight:bolder;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	padding:4px 0px;
	margin-top:10px;
}


/* Page Layout Containers and Background */

#navbar_float {
	display:block;
	float:none;
}


#navbar_fluid {
width: 100%;
background: url(navbar_fluid.jpg) repeat-x;
}

#navbar { 
	width:1000px;
	height:165px;
	margin: 0 auto;
}

.nav_link {
	color:#FFF;
	text-decoration:none;
}

.nav_current {
	color:#FF8800;
	text-decoration:none;
}

#navbar a:hover {
	color:#000;
	text-decoration:none;
}

#cube {
	background-image:url(http://www.edgeradio.org.au/images/cube-trans.png);
	width:230px;
	height:250px;
	position:relative;
	top:0px;
	left:-10px;
	clear:none;
	display:block;
	z-index:1;
}

#topbanner {
	width:500px;
	height:87px;
	position:relative;
	top:-237px;
	left:250px;
	clear:none;
	display:block;
	z-index:1;
}

#main_fluid {
width: 100%;
background-image: url(amplified-back-bit.gif);
background-position: top center;
background-repeat: no-repeat;
position:absolute;
top:144px;
left:0px;
height:100%;
}


#main_container {
	width: 1000px;
	text-align: center;
	margin: 0 auto;
	position:relative;
	top:0px;
	min-height:600px;
	height:100%;
	z-index:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

#right_column {
float:right;
width:210px;
text-align:center;

}

#left_column {
float:left;
width: 210px;
text-align:center;
}

#three_column {
width:530px;
margin: 0 auto;
text-align:left;
height:100%;
display:block;
position:absolute;
top:106px;
left:235px;
}
	
#two_column {
width:765px;
margin: 0 auto;
text-align:left;
height:100%;
display:block;
position:absolute;
top:116px;
right:0px;
}

#one_column {
width:1000px;
margin: 0 auto;
text-align:left;
height:100%;
display:block;
position:absolute;
top:106px;
left:0px;
}


/* ROUNDED CORNERS */

div.roundedcontainer {
	display:block;
	float:left;
}

div.rounded, div.rounded-side {
	border: 0px solid #990000;
	background-color:#FFF;
	color:#000;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	padding:5px 15px;
	font-size: 12px;
	line-height:14px;
	text-align:left;
}

div.roundednew, div.rounded-side-new {
	border: 0px solid #990000;
	background-color:#FFF;
	color:#000;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	padding:5px 15px;
	font-size: 12px;
	line-height:14px;
	text-align:left;
}

div.roundedblack {
	border:#F96;
	border-style:solid;
	border-width:5px;
	background-color:#000;
	color:#FFF;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	padding:5px 15px;
	font-size: 11px;
	line-height:14px;
	text-align:left;
}



/* FOOTER */

#footer {
	height:50px;
	display: block;
	padding:20px;
	width:100%;
	margin:0 auto;
	text-align:center;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	float:left;
}

#footer a, #footer a:visited, #footer a:hover, #footer a:active {
	color:#FFF;
	text-decoration:underline;
}

#base {
	display:block;
	width:100%;
	clear:both;
	height:50px;
	position:fixed;
	bottom:0px;
	background:url(http://www.edgeradio.org.au/images/footer_fluid-trans.png) repeat-x;
	text-align:center;
}

#base_images {
	display:block;
	position:relative;
	top:14px;
	height:35px;
	width:1000px;
	margin: 0 auto;
	background:url(http://www.edgeradio.org.au/images/footer_logo.jpg) no-repeat;
}


/* Misc Styles */

.shading {
	background-color: #F4F4F4;  
}
	
	.row2 {
	background-color: #CCCCCC;
	background-repeat: repeat;
	font-family:Arial;
	font-size:12px;
	}
	
.flickrimg { 
width:163px;
padding-left:2px;
height:auto;
border:none;
padding-bottom:15px;
}

	.listenlink {
	text-decoration: none; 
	color: #FF0000; 
	font-weight: bold;
	}
	
	.programtext {
	text-decoration: none; 
	color: #1E1E1E; 
	font-weight: bold;
	}

.published {
	display:block; 
	text-align: center;
	float:left; 
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #FF9C9A;
	padding: 0 0 2px 0;
	margin: 0 10px 0 0;
	width:2.2em;
}
.pub-month {
	display:block;
	font-size: .9em;
	margin:0; 
	padding:0;
	padding-top:12px;
	background:url(http://www.edgeradio.org.au/images/clip-top.png) 
		center top repeat-x;
}
.pub-date { 
	display:block; 
	font-size:1.4em;
	margin:0; 
	padding:0;
}

.indentmenu{
	overflow: hidden;
	border: 5px solid #242529;
	background-color:#242529;
	color:#FFFFFF;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
}

.indentmenu ul{
	margin: 0;
	padding: 0;
	float: left;
}
.indentmenu ul li{
	display: inline;
}
.indentmenu ul li a{
	font-size: 11px;
	line-height:12px;
	float: left;
	color: #FFFFFF;
	padding: 8px 12px;
	text-decoration: none;
	font-weight:bolder;
	text-decoration:none;
	text-transform:uppercase;
}

.indentmenu ul li a:visited{
	color: #FFFFFF;
}
.indentmenu ul li a:hover{
	color: #C0C0C0;
}
.indentmenu ul li a#selected{
	color: #C0C0C0;
}

#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized .smin input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #990000;
width:300px;
margin:2px 0 20px 10px;
}
#stylized .smin textarea{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #990000;
width:300px;
margin:2px 0 20px 10px;
}

ul.admin-light {
list-style-type: none;
margin: 0;
padding: 0;
}

.admin-light li{
 font-size: 12px;
 margin: 0;
 padding: 2px;
 }
 
 
 .admin-light a:link {
color: #1B1B1B;
font-size: 12px;
text-decoration: none;
}

.admin-light a:visited {
color: #1B1B1B;
font-size: 12px;
text-decoration: none;
}

.admin-light a:hover {
color: #808080;
font-size: 12px;
text-decoration: none;
}

div.head_trans {
 	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	background:url(http://files.broadcastingworld.net/overlay.png);
	padding: 10px;
 
 }
